body {
  font-family: 'Roboto', sans-serif;
  margin: 0px 0px 0px 0px;
}

/* navigation bar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 50px 0px 50px;
  margin: none;
  background-color: #BCC1BA;
}

nav a {
  display: inline-flex;
  color: #ffffff;
  border-bottom: 2px solid transparent;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav a:hover {
  border-bottom: 1px solid #ADFCF9;
  color: #341c1c;
  transition: 0.3s;
}

.navactive {
  border-bottom: 1px solid #ADFCF9;
  color: #341c1c;
}
.logo {
  font-family: 'Klee One', cursive;
  color: white;
}

/* styles for home component */
.home {
  margin: 50px; 
  position: absolute;
  top: 40%;
  color: white;
}

.home h1 {
 font-size: 36px;
}

.home h2 {
 font-size: 24px;
}

.homevideo {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
  width: 100%;
  height: auto;
}

/* styles for destination cards */ 
.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px; 
  margin: 20px 150px 10px 150px;
}

.card { 
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  display: flex;
  justify-content: space-between;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card img {
  display: block;
  width: 100%;
}

.card-container-left {
  width: 20%;
  margin: 0px 10px 5px 0px;
  flex-shrink: 0;
  justify-content: space-between;
  text-align: left;
}

.card-container-left h3 {
  margin: 5px 0px 2px 10px;
}

.card-container-left p {
  margin: 0px 0px 2px 10px;
  font-weight: 100;
}

.card-container-right {
  margin: 10px;
}

.card-container-right-bottom {
  display: flex;
  flex-direction: row;
  gap: 10px; 
  align-items: center;
  justify-content: center;
}

.button {
  background-color: #d7e6e0; 
  border: none;
  border-radius: 8px;
  color: black;
  padding: 10px 20px 10px 20px;
  text-align: center;
  text-decoration: none;
  transition-duration: 0.6s;
  display: inline-block;
  font-size: 16px;
  font-weight: 100;
  margin: 4px 2px;
}

.button:hover {
  background-color: #49393B;
  color: white;
}

h3 {
  color: #341c1c;
}

/* styles for destination search bar */
.search-container {
  position: relative;
  display: block;
  margin: 0px 0px 20px 0px;
}

.search-container img {
  height: 250px;
  width: 100%;
  object-fit: cover;
  margin: 0px 0px 20px 0px;
  z-index: -1;
}
.search-box {
  position: absolute;
  top: 60%;
  background: #e2fdfd;
  height: 25px;
  max-width: 40%;
  min-width: 200px;
  border-radius: 20px;
  padding: 10px 20px;
  margin: 20px 20px 10px 150px;
}

.search-text {
  float: left;
  background: none;
  border: none;
  outline: none;
  font-size: 16px;
  line-height: 25px;
}

